* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    /* height: 100vh; */
    /* padding: 150px 350px 50px 50px; */
    background-image: url('../images/resto5.webp');
    background-repeat: no-repeat;
    transition: 3s;
    opacity: 0.9;
    background-size:100% 100%;
    animation-name:animate;
    animation-duration: 15s;
    animation-direction: alternate-reverse; 
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    /* animation-play-state: running; */
    /* animation-timing-function: none; */

}

@keyframes animate{
    20% {
        background-image: url(../images/resto1.jpg);
    }
    40%{
        background-image: url(../images/resto2.jpg);
    }
    70%{
        background-image: url(../images/resto3.jpg);
    }
    30%{
        background-image: url(../images/resto4.jpg);
    }
}



header .content {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    padding: 10% 10% 10% 10%;
    /* border: 2px yellow solid; */
}
header .content .logo {
    width: 30%;
    /* border: 2px solid rebeccapurple; */
    border-radius: 30%;
    background-color: rgb(255, 200, 0);
}
header .content .logo lottie-player{
    width: 100%;
    height: 100%;
    /* border: 2px red solid; */
    /* border-radius: 50%; */
}
header .content .para h1 {
    padding: 2rem 2rem 2rem 2rem;
}
header .content .para {
    text-align: center;
    font-size: large;
    font-weight: 300;
    line-height: 2;
    color: white;
    padding: 1rem 1rem 1rem 2rem;
    width: 40%;
    border-radius: 30%;
    background-color:rgba(0, 0, 0, 0.6);
    /* border: 3px red solid; */
}
header .content .para ul {
    list-style: none;
}

@media (max-width : 700px) {
    header .content {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    header .content .logo {
        width: 100%;
        /* padding: 1rem; */
        /* border: 2px solid rebeccapurple; */
        border-radius: 30%;
        background-color:rgba(0, 0, 0, 0.6);
    }
    header .content .logo lottie-player{
        width: 100%;
        height: 100%;
    }
    header .content .para {
        width: 100%;
    }
}


/* %%%%%%%% 
    
    main style or second section content-1
     
    %%%%%%%%
 */


 main .content-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.5rem;
    /* border: 3px red solid; */
}

main .content-1 .sec-ii-img-1 {
    width: 20%;
    margin-right: 10px;
    position: relative; 
    animation: cup;
    transition: 3s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    scroll-behavior: smooth;
    animation-fill-mode:alternate;
    animation-timing-function: ease-in-out;
    
    /* flex-basis: 15; */
}
@keyframes cup {
    0%{ 
        visibility: hidden;
    }
    25% { 
        left: -500px;
    }
    40% { 
        left: -400px;
    }
    60% { 
        left: -300px;
    }
    75% { 
        left: -100px;
    }
    80% { 
        left: -50px;
    }
    100% { 
        left: 0px;
    }
}
main .content-1 .sec-ii-img-1 img {
    width: 100%;
    height: 100%;
    /* border: 2px rebeccapurple solid; */
}

main .content-1 .para-1 {
    width: 74%;
    float: right;
    padding: 3rem;
    /* border: 2px rebeccapurple solid; */
}

@media (max-width : 700px) {
    main .content-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
        padding: 2rem;
        /* border: 2px blue solid; */
    }
    main .content-1 .sec-ii-img-1 {
        width: 70%;
        
    }
    main .content-1 .sec-ii-img-1 img {
        width: 100%;
        height: 100%;
        /* border: 2px rebeccapurple solid; */
    }   
}

/* %%%%%%%% 
    
    main style or second section content-2
     
    %%%%%%%%
 */

main .content-2 {
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    /* border: 2px blue solid; */

}


main .content-2 .sec-ii-img-2 {
    width: 25%;
    /* border: 2px rgb(20, 20, 4) solid; */
    margin-left: 10px;
    position: relative;
    animation: cup1;
    transition: 3s;
    animation-duration: 3s;
    animation-delay: .8s;
    animation-iteration-count: 1;
    animation-fill-mode:alternate;
    animation-timing-function: ease-in-out;
}

@keyframes cup1 {
    0%{ 
        visibility: hidden;
    }
    25% { 
        left: 500px;
    }
    40% { 
        left: 400px;
    }
    60% { 
        left: 300px;
    }
    75% { 
        left: 100px;
    }
    80% { 
        left: 50px;
    }
    100% { 
        left: 0px;
    }
}
main .content-2 .sec-ii-img-2 img {
    width: 110%;
    height: 110%;
}

main .content-2 .para-2 {
    width: 74%;
    padding: 1rem 1rem 1rem 45rem;
    /* border: 2px rebeccapurple solid; */
}

@media (max-width : 700px) {
    main .content-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem;
        /* border: 2px blue solid; */
    }
    main .content-2 .sec-ii-img-2 {
        width: 70%;

    }
    main .content-2 .sec-ii-img-2 img {
        width: 100%;
        height: 100%;
        /* border: 2px rebeccapurple solid; */
    }   
}

/*********
 
    third section

**********/


.iii-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-image: url('../images/2957951.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border: rgb(235, 23, 69) 2px solid; */
}

.iii-section img{
    width: 70%;
    font-family: sans-serif;
    /* padding: 2rem; */
    margin-left: 2rem;
    /* border: yellow 3px solid; */
  
}

.iii-section .content-2 {
    
    width: 60%;
    padding: 2rem;
    font-size: 1.3rem;
    /* margin-left: 100px; */
    color: antiquewhite;
    /* border: yellow 3px solid; */
}

@media (max-width : 700px) {
    .iii-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem;
    }
    .iii-section .content-2 {
        width: 90%;
    }

}

/*********
 
    fourth section

**********/


.iv-section .head{
    width: 100%;
    padding: 3rem 0rem 3rem 0rem;
    /* height: 20% */
}

.iv-section .menu{
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* border: 2px brown solid; */
}
.iv-section .menu ul
{
    padding-top: 1rem;
}
.iv-section .menu ul li{
    list-style-type: "\27A4";
    line-height: 28px;
}

.iv-section {
    padding-top: 30px;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.iv-section h1 {
    text-align: center;
    
}

@media (max-width : 700px) {
    .iv-section .menu {
        display: flex;
        flex-direction: column;
    }
    
}


/*********
 
    fifth section

**********/

.v-section {
    width: 100%;
    padding: 2rem;
    background-image: url('../images/bg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    scroll-behavior: smooth;
    /* border: rgb(49, 70, 57) 4px solid; */
}

.v-section .content {
    z-index: 2;
    position: relative;
    color: aliceblue;
    width: 50%;
    /* border: 3px red solid; */
    margin: 0 auto;
    padding:1.5rem 0rem 0rem 0rem;
}

.v-section .content h1 {
    text-align: center;
}
.v-section .content p {
    padding: 2rem;
    text-align: center;
}
.v-section .content a {
    background-color: rgb(64, 70, 70);
    text-decoration: none;
    padding: 10px;
    /* border: 3px red solid; */
    color: aliceblue;
}

.v-section .content a:hover {
    background-color: rgb(151, 121, 121);
    color: rgb(71, 57, 57);
}
.v-section img {
    align-content: center;

}

@media (max-width : 700px) {
    .v-section .content {
        width: 60%;
    }
}

/* sixth section */


.vi-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    /* border: rgb(212, 43, 212) 4px solid; */
}

.vi-section .content {
    width: 50%;
    /* border: 3px red solid; */
    padding: 1rem;
}

.vi-section .pic {
    /* padding:2rem ; */
    width: 50%;
    /* margin-left: 16rem ; */
    float: right;
  
}

.vi-section .pic img {
    width: 40%;
    /* height: 100%; */
    /* border: 2px rebeccapurple solid; */
   margin: 0rem 0rem 0rem 5rem;

}

@media (max-width : 700px) {
    .vi-section {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .vi-section .content, .vi-section .pic {
        width: 90%;
    }
    .vi-section .pic img {
        width: 60%;
    }
}


/* footar section */


.vii-section {
    width: 100%;
    padding: 3rem;
    /* border: rgb(128, 196, 90) 2px solid; */
    background-color: rgba(12, 9, 9, 0.8);
    color: white;
}
.vii-section .heading {
    text-align: center;
    padding: 2rem 0rem 3rem 0rem;
}
.vii-section .footar-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    /* border: 2px red solid; */
}

.vii-section .footar-flex .name {
    padding: 1rem;
}
.vii-section .footar-flex .name input {
    width: 100%;
    /* border: none; */
    border-style: none;

    padding: 0.6rem 0rem 0rem 0rem;
   
}
.vii-section .footar-flex .msg textarea {
    width: 100%;
}
.vii-section .footar-flex .form-ex {
    flex-basis: 29rem;
    /* border: red 2px solid; */
    padding: 2rem;
}
.vii-section .footar-flex .address {
    width: 50%;
    /* border: 2px red solid; */
    padding: 1rem;
    /* margin-left: 13rem; */
}
.vii-section .footar-flex .address p {
    padding: 1rem;
}

.vii-section .footar-flex .address h1{
    text-align: center;
}
@media (max-width : 700px) {
    .vii-section .footar-flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: 2px red solid; */
    }
    .vii-section .footar-flex .address p {
       width: 100%;
       padding: 1rem;
        text-align: center;
    }
    .vii-section .social-icon {
        width: 20%;
    }
}

.vii-section .social-icon {
    width: 10%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    /* border: rebeccapurple solid 2px; */
    
}

.vii-section .social-icon a {
    padding: 1rem;
}